
.tutorial-div {
    background-color: #996515;
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-align: center;
}

.close-x {
  float: right;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
  color: rgb(255, 247, 200);
}

.tutorial-div > h1{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 5px; */
    color: rgb(255, 247, 200);
    /* rgb(32, 14, 14); */
}

.tutorial-headline > p {
    font-size: 18px;
    font-family: 'Neucha', cursive;
    color: rgb(255, 247, 200)

}

.tutorial-div > div > h2{
    font-family: 'Satisfy', cursive;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
    /* padding-bottom: 5px; */
    color: rgb(255, 247, 200);
}

.tutorial-steps ol {
    margin: 0 30px 0 30px;
    padding: 0px
} 

.tutorial-steps li {
    font-size: 18px;
    font-family: 'Neucha', cursive;
    text-align: left;
    color: rgb(255, 247, 200);
}

.tutorial-steps li > img {
    height: 20px;
    width: 40px;
}

.tutorial-steps img {
    border-radius: 3px;
}

.join-create-img {
    height: 100px;
    width: auto;
    margin: 10px 0 10px 0;
}

.role-play-img {
    margin: 10px 0 10px 0;

}

.choose-theme-cont {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}



.choose-theme-cont > div > img {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.choose-theme-cont > div > img:hover {
   position: relative;
   transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   z-index: 0;
}

.choose-theme-cont > div {
    position: relative;
    text-align: center;
    border-radius: 1px solid black;
    overflow: hidden;

}

.create-other-themes {
    opacity: 0.6;
}

.choose-theme-cont > div > p {
    color: white;
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100px;
    font-weight: bolder;
    white-space: nowrap;
    font-size: 10px;

}

.about-addons {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}