.user-controls-container {
  display: flex;
  margin: auto;
  margin: 50px auto;
}

.user-info-container {
  /* background-color: rgb(21, 114, 63); */
  /* margin: 20px; */
  padding: 10px;
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 50px solid transparent;
  border-image: url(../../../images/frame0.png) 130 round;
  background-image: url(../../../images/vintage-paper.png);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 16px rgb(165, 101, 42);
  box-sizing: border-box;
}


.user-info-avatar {
  height: auto;
  width: 150px;
  object-fit: cover;
  margin-top: 80px;
  margin-bottom: 4px;
}


.user-info-name-container {
  background-image: url(../../../images/nametag2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 40px;
  position: relative;
  box-sizing: border-box;
  top: 0
}

.user-info-name {
  font-family: 'Neucha', cursive;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.user-info-name p {
  font-family: 'Neucha', cursive;
  font-weight: 700;
  color: rgb(39, 32, 22);
  text-shadow: 0 1px 0 white,
          0 -1px 0 rgb(32, 32, 32);
  /* overflow: hidden; */
}

.name-background {
  position: absolute;
  bottom: 10px;
  height: 35px;
  width: 70px;
  background-color: white; 
}

.avatar-header {

  font-family: 'Neucha', cursive;
  font-weight: 700;
  font-size: 24px;
  background-size: cover;
  color:  rgb(180, 129, 34);
  text-align: center;
  padding: 5px;
  width: auto;
  /* margin-bottom: 20px; */
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: -45px;
  text-shadow: 0 1px 1px rgb(247, 231, 211), 0 -1px 1px rgba(58, 42, 42, 0.7);


  /* border: 10px solid transparent; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-image: url(../../../images/border0.png) 60 round;  */
  /* background-repeat: no-repeat;
  background-size: 100% 100%;  */
}

.user-options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
}

.user-option {
  /* background-color: rgb(114, 74, 21); */
  position: relative;
  height: 90px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1em;
  /* background-image: linear-gradient(to bottom, rgb(253, 204, 113),  rgb(114, 74, 21)); */
  background-image: url(../../../images/wood1.png);
  background-size: cover;
  text-align: center;
  /* box-shadow: inset 0 1px rgb(114, 74, 21), 0 1px 1px rgb(114, 74, 21), 0 0 8px rgb(114, 74, 21); */
}

.user-option:hover .redirect-icon {
  margin-right: 15px;
}

.option-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  /* background-color: green; */
  background-image: url(../../../images/badge1.png);
  background-size: 160%;
  background-position: center;
  padding: 16px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 1em;
  color: rgb(51, 41, 9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-image: linear-gradient(to bottom, rgb(5, 151, 5),  rgb(17, 90, 17)); */

}

.redirect-icon {
  margin-right: 20px;
  font-size: 30px;
  /* color: rgb(9, 51, 28); */
  color: white;
  transition: all .5s;
}

.option-text {
  font-family: 'Neucha', cursive;;
  margin-left: 60px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(180, 129, 34);
  text-shadow: 0 1px 0px rgb(247, 231, 211), 0-1px 0px rgba(58, 42, 42, 0.7);
}

.change-avatar-icon {
  position: absolute;
  color: black;
  font-size: 20px;
  opacity: 40%;
  top: 10px;
  right: 10px;
}

