.theme-list {
    position: relative;
    z-index: 2;
}

.create-theme-form {
    background-color: rgb(255, 255, 240);
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    line-height: 25px;
    padding: 20px;
    text-align: center;
}

.create-theme-form input {
    border: 2px solid goldenrod;
    border-radius: 3px;
}

.create-theme-form button {
    background-color: goldenrod;
    padding: 2px 20px;
    margin-top: 10px;
    border-radius: 3px;
    color: white;
}

.create-theme-form button:hover {
    background-color: rgb(245, 198, 80);
}


.character-form li {
    list-style: none;
    margin-top: 3px;
}