.game-room button {
    border: none;
    border-radius: 3px;
    right: 10px;
    width: 100px;
    bottom: 10px;
    font-size: 20px;
    padding: 7px;
    text-align: center;
    background-color: rgb(231, 181, 54);
    position: relative;
    top: 1px;
    box-shadow: 0 6px 0 rgb(207, 158, 34), 0 6px 6px rgba(0, 0, 0, 0.5);
    
}

.exit-gameroom, .theme-choose, .show-users {
    margin-right: 5px;
}

.game-room button:active {
    position: relative;
    top:3px;
    box-shadow: 0 3px 0 rgb(207, 158, 34), 0 3px 3px rgba(0, 0, 0, 0.7);
}

.game-room {
    position: relative;
    z-index: 2;
}

.game-room-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.test {
    display: flex;
}

.user-list-section {
    background-color: rgba(243, 233, 207, 0.9);
    flex-grow: 0;
    width: 200px;
}

.user-list-section .user-info {
    display: inline-block;
    top:50%;
    transform: translate(0, -50%);
}

.user-list-section img {
    height: 60px;
    width: 60px;
}

.chat-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 80%;
}

.gameroom-title-bar {
    margin-top: 20px;
    background-color: rgb(238, 216, 159, 0.9);
    border-radius: 5px 5px 0px 0px;
    padding: 6px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    flex-grow: 1;
    border-bottom: 2px solid rgb(230, 206, 72);
}

.chat-box {
    background-color:  rgba(255, 255, 255, 0.8); 
    z-index: 3;
    border-radius: 5px;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
    overflow: scroll;
    flex-grow: 99;
}

.submit-message-box {
    border-top: 2px solid rgb(230, 206, 72);
    background-color: rgb(238, 216, 159, 0.9);
    border-radius: 0px 0px 5px 5px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-grow: 1;
}

.submit-message-box button{
    margin-left: 20px;
    margin-top: -3px;
}

.submit-message-box .name{
    min-width: 80px;
    text-align: end;
    margin-right: 10px;
    font-size: 20px;
    height: 0 auto;
    margin-top: 3px;
}

.show-page-background {
    background-image: url(../../images/gameroom3.jpg); 
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: -1;
    background-size: cover;
}

.show-page-buttons {
    display: flex;
    margin-left: 2%;
    /* min-height: 15vh; */
}

.game-room input {
    padding: 2px;
    /* width: 70%; */
    flex-grow: 99;
    border-radius: 3px;
}

.role-play-dropdown {
position: relative;
display: inline-block;
}

.theme-list {
    background-color: rgb(255, 255, 240);
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    line-height: 25px;
    padding: 20px;
    text-align: center;

}

.theme-list li:hover {
    background-color: rgb(238, 216, 159);
    transform: scale(1.1);
}

.theme-list li:active {
background-color: rgb(241, 200, 94);
}

.exit-gamemode button {
    position: absolute;
    
}

.exit-gamemode-button {
    width: 150px;
    height: 23px;
}

.self-message .content {
    background-color:  rgb(245, 208, 139);
    border-radius: 15px 15px 0 15px;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    overflow-wrap: anywhere;
}

.other-users-message .content {
    background-color:rgb(200, 229, 155);
    margin: 10px;
    padding: 10px;
    border-radius: 15px 15px 15px 0;
    font-size: 14px;

    overflow-wrap: anywhere;
}


.other-users-message span:first-child, .self-message span:first-child {
    font-size: 16px;
    margin-right: 8px;
}

.other-users-message span:nth-child(2), .self-message span:nth-child(2) {
    font-size: 16px;
    width: 100px;
}

.other-users-message img, .self-message img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.other-users-message .name, .self-message .name {
    font-size: 12px;
    color: grey;
}

.other-users-message {
    display: flex;
    margin: 10px;
}

.self-message {
    display: flex;
    flex-direction: row-reverse;
}

.text-holder {
    max-width: 60%;
}

.user-list-section {
    background-color: rgba(238, 222, 181, 0.9);
}

.game-mode .chat-box {
    background-color: rgba(15, 15, 15, 0.7);
}

.game-mode .submit-message-box, .game-mode .gameroom-title-bar {
    background-color: rgb(44, 44, 44);
    color: rgb(235, 235, 235);
}

.game-mode .gameroom-title-bar, .game-mode .submit-message-box{
  border-color: rgb(66, 66, 66);
}

.game-mode button {
    background-color: rgb(66, 66, 66);
    box-shadow:0 6px 0 rgb(20, 20, 20);
    color: rgb(235, 235, 235);
}

.game-mode button:active {
    box-shadow:0 3px 0 rgb(35, 35, 35);
}

.game-mode input {
    background-color: rgb(88, 88, 88);
    color: rgb(235, 235, 235);
    border: 1px solid  rgb(68, 68, 68);
}

.game-mode {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
}

.game-mode .self-message .content {
    background-color: rgb(71, 71, 71);
    /* background-color: rgb(21, 80, 57); */
    color: rgb(235, 235, 235);
}

.game-mode .other-users-message .content {
    background-color: rgb(21, 80, 57);
    color: rgb(235, 235, 235);
}

.game-mode .user-list-section {
    background-color: rgba(44, 44, 44, 0.9);
    color: white;
}

@media screen and (max-height: 800px) {
    .chat-box {
        height: 50vh;
    }

    .show-page-buttons {
        height: 12vh;
    }
}

@media screen 
  and (min-height: 800px) 
  and (max-height: 1000px) {
    .chat-box {
        height: 65vh;
    }

    .show-page-buttons {
        height: 8vh;
    }
  }

  @media screen 
  and (min-height: 1000px) {
    .chat-box {
        height: 70vh;
    }

    .show-page-buttons {
        height: 5vh;
    }
  }

