.game-room button {
    border: none;
    border-radius: 3px;
    right: 10px;
    width: 100px;
    bottom: 10px;
    font-size: 20px;
    padding: 8px;
    text-align: center;

}

.game-room {
    position: relative;
    z-index: 2;
}

.chat-box {
    background-color:  white; 
    z-index: 20;
}

.show-page-background {
    background-image: url(../../images/gameroom3.jpg); 
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 60%;
    z-index: -1;
    background-size: cover;
  }