.navbar-div {
    text-align: center;
    height: 150px;
}

.scroll-cont {
    background-image: url("../../images/scroll.jpeg");
    background-repeat: no-repeat;
    background-size: 350px 300px; 
    background-position: center;
    
}

.logo-link {
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.header-link {
    text-decoration: none;
}

.auth-div {
    display: flex;
    justify-content: center;
}

.auth-div > button {
    margin: 5px;
    background-color: goldenrod;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
}

