.pofile-avatars-container img {
    object-fit: cover;
}

.profile-page-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 5px;
}

.avatar_selector img:hover {
    transform: scale(1.2);
}

.profile-page-container {
    justify-content:  center;
    text-align: center;
    
}

.profile-box {
    margin-top: 10%;
    width: 300px;
    margin: 0 auto;
    padding: 45px 25px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    border: 20px solid transparent;
    border-image: url(../../images/border0-2.png) 60 round; 
    margin-bottom: 5%;
}

.profile-page-container h2 {
    display: block;
    width: 100%;
    color: black;
    font-size: 18px;
    /* text-shadow:  7px 7px 10px rgba(255, 255, 255, 0.9) */
}

.profile-page-container .main-icon {
    display: block;
    border-radius: 50%;
    height: 120px;
    width:120px;
    box-sizing: border-box;
    box-shadow: 0px 6px 3px rgba(0,0,0,0.5);
    background-color: rgba(240, 240, 240, 0.5);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.profile-page-container .main-icon:hover {
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    padding-top: 4px;
}



.avatar_selector {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(255,255,255);
    border-radius: 3px;
    border: 20px solid transparent;
    border-image: url(../../images/border0-2.png) 60 round; 
    box-sizing: border-box;
    z-index: 4;
}

.profile-page-background {
    background-image: url(../../images/gameroom3.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.6;
    background-size: cover;
}

.whats-up-container {
    margin-top: 20px;
    text-align: center;
}

.whats-up-container span {
    margin-right: 5px;
    font-size: 16px;
}

.whats-up-container .edit-button {
     background-image: url(../../images/chat_icon.png);
     background-color: rgba(0,0,0,0);
     background-size: contain;
     background-repeat: no-repeat;
     width: 18px;
     height: 18px;
}

.whats-up-container .edit-button:hover {
    transform: scale(1.2);
}

.whats-up-editor {
    position: absolute;
    padding: 5px;
   ;
}

.whats-up-editor input {
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.7);
    margin-left: 20px;
    margin-right: 5px;  
    border-radius: 3px;
    font-size: 15px;
    text-align: left;
}

.whats-up-editor button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(221, 174, 55, 0.8);
    color: white;
}

.whats-up-editor button:hover {
    background-color: rgba(238, 204, 117, 0.8)
}