.invite-container {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.invite-container > h1 {
  margin: auto;
  float: left;
  font-size: 40px;
  border-bottom: 6px solid goldenrod;
  margin-bottom: 20px;
  padding: 13px 0;
}

.invite-container > .textbox {
  font-size: 25px;
}