.rooms-container {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lobster', cursive;;
  margin-top: 5px;
}


.room-info-container {
  background-color: rgba(255,255,255,0.85);
  padding: 6px 20px;
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; 
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 20px solid transparent;
  border-image: url(../../../images/border0-2.png) 60 round; 
  box-sizing: border-box;
  /* background-repeat: no-repeat; */
  /* background-size: cover;  */
}

.inner-box {
  background-color: rgba(255,255,255,0.8);
}

.room-info-container p {
  font-family: 'Neucha', cursive;
  font-weight: 600;
  color: rgb(155, 88, 12);
}

.room-date {
  margin-top: 15px;
}

.room-index-main h1{
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(187, 100, 0);
  text-shadow: 2px 3px 0 rgb(207, 158, 34), 7px 7px 10px rgba(255, 255, 255, 0.9)
}

.room-title {
  font-weight: 600;
  font-size: 30px;
}

.room-theme {
  font-size: 20px;
}

.room-date {
  font-size: 15px;
}

.room-join-button {
  position: relative;
  border: none;
  border-radius: 5px;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  padding: 10px 20px;
  top: 1px;
  display: inline-block;
  font-family: 'Neucha', cursive;
  color: rgb(145, 81, 8);
  margin-left: 10px;
  background-color: rgb(231, 181, 54);
  box-shadow: 0 6px 0 rgb(207, 158, 34), 0 6px 15px rgba(0, 0, 0, 0.5)
}

.room-join-button:active {
  position: relative;
  top:3px;
  box-shadow: 0 3px 0 rgb(207, 158, 34), 0 3px 6px rgba(0, 0, 0, 0.7);
}

.in-game .room-join-button {
  background-color: rgb(168, 168, 168);
  color: rgb(233, 233, 233);
  box-shadow: none;
}

.room-index-main {
  background-attachment: fixed;
  margin-top: 10px;
}

.main-page-image {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 0;
  background-size: cover;
}

/* toggle switch */
.switch {
  display: flex;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  justify-content: center;
  /* align-items: center; */
  /* vertical-align: baseline; */
  /* text-bottom */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(235, 235, 235, 0.8);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: rgb(207, 158, 34);
  /* background-color: rgb(219, 164, 25); */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  rgba(171, 238, 117, 0.8);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(171, 238, 117, 0.8);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-rooms {
  margin-left: 9%;
  display: flex;
  align-items: center;
}

.toggle-rooms span {
  font-family: 'Neucha', cursive;
  color: rgb(155, 88, 12);
  font-size: 20px;
}

.toggle-switch-text {
  margin-right: 10px;
  text-shadow:  7px 7px 8px rgba(255, 255, 255, 0.9), -7px -7px 8px rgba(255, 255, 255, 0.9);
}